@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Old+Standard+TT&family=Oswald:wght@200;300;400&family=PT+Serif&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
:root {
  --primary-color: #fc4445;
  --secondary-color: #9cc3d5ff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: white;
  margin: 0;
  padding: 0;
  background-color: fff;
}

/************************** HR Variations **************************/
hr {
  border-color: lightgrey;
  border-style: dotted none none;
  border-width: 8px;
  height: 0px;
  width: 60px;
  margin: 3rem auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first-hr {
  border-color: lightgrey;
  border-style: dotted none none;
  border-width: 8px;
  height: 0px;
  width: 9px;
  margin: 3rem auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.second-hr {
  border-color: lightgrey;
  border-style: dotted none none;
  border-width: 8px;
  height: 0px;
  width: 23px;
  margin: 3rem auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.third-hr {
  border-color: lightgrey;
  border-style: dotted none none;
  border-width: 8px;
  height: 0px;
  width: 40px;
  margin: 3rem auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.more {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0;
  font-size: 1.3rem;
  color: var(--primary-color);
}

/************** Navbar ****************/
/***************************** About Us Banner *********************************/
.aboutbanner {
  width: 100%;
  height: 60rem;
  background: url("../public/images/About-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 1rem;
}

.aboutbanner-835px {
  color: var(--primary-color);
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 16;
  text-transform: uppercase;
  border: none;
  font-family: "Poppins";
  text-align: center;
  display: none;
  background-color: #fff;
}

.aboutbanner-835px p {
  color: #000;
}

.aboutbanner h2 {
  color: var(--primary-color);
  padding-top: 3rem;
  padding-bottom: 0rem;
  font-size: 50px;
  text-transform: uppercase;
  border: none;
  font-family: "Poppins";
  text-align: center;
}

.aboutbanner p {
  text-align: center;
}

@media screen and (max-width: 1890px) {
  .aboutbanner {
    width: 100%;
    height: calc(2.4819121447 * 20vw);
  }
}

@media screen and (max-width: 835px) {
  .aboutbanner-835px {
    display: block;
  }
  .aboutbanner h2 {
    display: none;
  }
  .aboutbanner p {
    display: none;
  }
  .aboutbanner {
    background: url("../public/images/About-3.png");
    width: 100%;
    height: calc(3.38800705467 * 10vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .aboutbanner-835px p {
    display: none;
  }
}

/***************************** Security Banner *******************************/
.security-banner {
  width: 100%;
  height: 750px;
  background: url("../public/images/banner-123.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 1rem;
  max-height: 1080px;
  color: var(--primary-color);
}

.security-banner h2 {
  text-align: center;
  font-size: 110px;
  padding-top: 17rem;
  color: var(--primary-color);
  -webkit-text-fill-color: var(--primary-color);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: "Poppins";
}

.security-banner p {
  text-align: center;
  font-size: 30px;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: px;
  -webkit-text-stroke-color: black;
}

/************ *************/
.column-2 {
  float: left;
  width: 33.33333333333333333333333333333333333333333333333333333%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-2 img {
  top: 0;
}

.row-2::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1465px) {
  .row {
    display: none;
  }
}

@media screen and (max-width: 535px) {
  .security-banner h2 {
    font-size: 60px;
    padding-top: 12rem;
    -webkit-text-stroke-width: 2px;
  }
  .security-banner p {
    font-size: 20px;
  }
  .security-banner {
    height: 500px;
  }
}

/***************************** About Us page *********************************/
.who-are-we {
  text-align: center;
  width: 60%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.what-we-do-text {
  text-align: center;
  width: 60%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.who-are-we h1 {
  color: var(--primary-color);
}

.ceoimages {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 9rem;
  border: none;
}

.ceocontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.ceo-images-sub {
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.ceo-images-sub h2 {
  padding-bottom: 3rem;
  color: var(--primary-color);
  font-size: 20;
}

.ceo-images-sub img {
  border-radius: 19rem;
}

.ceoimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ceoimages p {
  margin-left: 18rem;
}

.image-heading h2 {
  margin-top: 6rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: var(--primary-color);
}

.ceoimages img {
  width: 250px;
  height: 250px;
  margin-top: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1290px) {
  .ceocontainer {
    display: wrap;
  }
}

/********* video *********/
.wrapper {
  margin: auto;
  width: 100%;
  text-align: center;
  max-width: 1200px;
}

video {
  width: 100%;
}

.wrapper p {
  margin-top: 3rem;
}

.wrapper h1 {
  color: var(--primary-color);
}

/*************************************** Footer ******************************************/
/********************* Goals ***************************/
.goals-parent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.goals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden-img {
  display: none;
}

.goals2 {
  width: 500px;
}

.goals2 li {
  margin: 0 auto;
}

.goals-container img {
  width: 500px;
  border-radius: 2rem;
}

.goals-container h1 {
  color: var(--primary-color);
}

@media screen and (max-width: 950px) {
  .goals-container {
    display: inline;
  }
  .goals-img2 {
    display: none;
  }
}
/******************** Security page title **************************/
.title {
  color: var(--primary-color);
  font-size: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

/******************** Security Category parents ********************/
.cbs-parent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}

.ds-parent-parent {
  width: 100%;
  background-color: #f2f2f2;
}

.ds-parent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.pii-parent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.ess-parent-parent {
  background-color: #f2f2f2;
}

.ess-parent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/******************** Security Page (Cloud Section) ********************/
.cbs-parent h1 {
  color: var(--primary-color);
}

.cbs-parent h2 {
  color: var(--primary-color);
}

.cbs-container {
  margin: 40px auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}

.cbs-text {
  color: black;
  max-width: 800px;
}

.cbs-info {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
}

.what-is-cloud {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid;
  border-color: var(--primary-color);
  height: 184px;
}

.how-cloud-works {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: solid;
  border-color: var(--primary-color);
  padding-bottom: 3rem;
}

.our-strategy {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom: solid;
  border-color: var(--primary-color);
  padding-bottom: 3rem;
}

@media screen and (max-width: 1140px) {
  .cbs-info {
    display: inline-block;
  }
  .what-is-cloud {
    margin-bottom: 2rem;
  }
  .how-cloud-works {
    margin-bottom: 2rem;
  }
  .our-strategy {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 625px) {
  .cbs-container {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

/******************** Security Page (Data Safeguard Section) ********************/
.ds-parent h1 {
  color: var(--primary-color);
}

.ds-parent h2 {
  color: var(--primary-color);
}

.ds-text {
  text-align: center;
}

.ds-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  margin-bottom: 4rem;
  padding-top: 3rem;
}

.ds-info {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
  min-height: 500px;
  margin-top: 6rem;
  padding-bottom: 7rem;
}

.ds-info h2 {
  text-align: center;
}

.what-is-ds {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid;
  border-color: var(--primary-color);
  height: 150px;
}

.how-ds-works {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid;
  border-color: var(--primary-color);
}

.our-strategy-2 {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid;
  border-color: var(--primary-color);
  height: 250px;
}

@media screen and (max-width: 1000px) {
  .ds-info {
    display: inline-block;
    text-align: start;
    margin-bottom: 0rem;
  }
  .what-is-ds {
    margin-bottom: 2rem;
  }
  .how-ds-works {
    margin-bottom: 2rem;
  }
  .our-strategy-2 {
    margin-bottom: 0rem;
  }
}

/******************** Security Page (Personal Identifiable Information Section) ********************/
.pii-parent h1 {
  color: var(--primary-color);
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.pii-parent h2 {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.pii-text {
  text-align: center;
  margin-bottom: 5rem;
}

.pii-info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5rem;
  text-align: center;
}

.pii-info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 8rem;
  text-align: center;
}

.what-is-pii {
  max-width: 350px;
  border-bottom: solid;
  padding-bottom: 2rem;
  border-color: var(--primary-color);
}

.how-pii-works {
  max-width: 350px;
  border-bottom: solid;
  padding-bottom: 2rem;
  border-color: var(--primary-color);
}

.our-strategy-3 {
  max-width: 350px;
  border-bottom: solid;
  padding-bottom: 2rem;
  border-color: var(--primary-color);
}

.pii-forth {
  max-width: 350px;
  border-bottom: solid;
  padding-bottom: 2rem;
  border-color: var(--primary-color);
}

@media screen and (max-width: 830px) {
  .pii-info-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: start;
  }
  .pii-info-1 {
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    text-align: start;
    margin-bottom: 1rem;
  }
  .what-is-pii {
    margin-bottom: 2rem;
  }
  .how-pii-works {
    margin-bottom: 2rem;
  }
  .our-strategy-3 {
    margin-bottom: 2rem;
  }
}

/**** PII Banner ****/
.pii-banner {
  width: 100%;
  height: 550px;
  background: url("../public/images/passport-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 1080px;
  color: var(--primary-color);
}

/******************** Security Page (Encryption and Secure Storage Section) ********************/
.ess-parent h1 {
  color: var(--primary-color);
}

.ess-parent h2 {
  color: var(--primary-color);
}

.ess-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  margin-bottom: 4rem;
  padding-top: 3rem;
}

.ess-text {
  text-align: center;
  margin-bottom: 5rem;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  padding: 1rem;
  border-radius: 18px;
  background: white;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-bottom: 6rem;
  max-width: 325px;
  min-width: 324px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 4rem;
}

@media screen and (max-width: 1100px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=about.css.map */